@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global reset ringan */
html,
body {
  margin: 0;
  padding: 0;
}

/* Font global */
body {
  font-family: "Poppins", system-ui, sans-serif;
  background-color: white;
  color: #0f172a; /* slate-900 */
}
